body{
   /* Set line spacing */
    line-height: 1;
    background-color: #f0c1aa;
}

header {
    text-align: center;
    background: #6a938b;
    padding-bottom: 20px;
    color: #F6EFB7;
}

main {
    padding: 20px 3%;
}

nav {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

nav ul li {
    font-family: 'Libre Bodoni', serif;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    padding: 15px 20px;
    margin: 25px 25px;
    background-color: #c8a67c;
    border-radius: 5px;
}

.filters {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.filters ul li {
    display: inline-block;
    padding: 15px 20px;
    /* margin: 25px 25px; */
}

.filters ul li button {
    background-color: #c8a67c;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    font-family: 'Libre Bodoni', serif;
    font-size: 16px;
    font-weight: 700;
    color: #F6EFB7;
    width: 109.16px;
    opacity: 0.7;
    transition: 0.2s;
}

.filters ul li button:hover {
    opacity: 1;
}

a {
    color: black;
}

nav a {
    /* Set text decoration*/
    text-decoration: none;
    color: #F6EFB7;
}

a:visited{
    /* Set color */
    color: #F6EFB7;
}

nav a.current{
    /* Set text decoration, transformation, and underline properties */
    text-transform: uppercase;
    text-decoration: underline wavy black 2px;
    text-underline-offset: 5px;
}

h1, h2, h3 {
    font-family: 'Libre Bodoni', serif;
    font-weight: 700;
}

h1 {
   font-size: 56px;
}

h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: -15px;
}

h3 {
    font-size: 36px;
    padding-top: 30px;
}

main img.oval {
    margin: 20px auto;
}

.slidecontainer {
    text-align: center;
    margin-bottom: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 35%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    /* -webkit-transition: .2s; */
    transition: opacity .2s;
  }
  
.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #c8a67c;
    cursor: pointer;
}

#totop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 36px;
    border: none;
    color: rgba(200, 166, 124, .5);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    background-color: transparent;
  }
  
#totop:hover {
    color: rgba(200, 166, 124, 1);
    transition: 0.5s;
  }

.container {
    display: block;
    background-color: #F6EFB7;
    border-radius: 30px;
    width: 60%;
    height: 400px;
    margin: 30px auto;
    outline: dotted;
    outline-offset: 7px;
    outline-width: 5px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #F6EFB7;
    border-radius: 30px;
}

.gallery img {
    border-radius: 30px;
    padding: 20px;
    object-fit: cover;
}

.portrait {
    width: 23%;
}

.landscape {
    width: 36.8%
}

.grid{
    display: grid;
    margin: 0px auto;
    border-radius: 20px;
    grid-template-columns: 100%;
    grid-row-gap: 10px;
    grid-column-gap: 30px;
    justify-content: space-between;
}

.grid div {
    /* border: 3px solid black; */
    border-radius: 20px;
    padding: 10px;
    background-color: #F6EFB7;
    display: grid;
    grid-template-columns: 60% 40%;
}

.grid div div {
    display: block;
    font-family: 'Libre Bodoni', serif;
}

.grid img {
    width: 90%;
    margin: 10px auto;
    align-self: center;
}

.grid ul li {
    line-height: 1;
    margin: 0px 0px 10px 30px;
    list-style-image: url("../images/sketchbook.png");
    font-family: 'Libre Bodoni', serif;
}

p + p {
     /* Set indentation */
     text-indent: 20px;
  }
  
p {
    margin: 10px 0px 0px;
    font-family: 'Libre Bodoni', serif;
    font-weight: 400;
}

.oval {
    border-radius: 50%;
    outline: dotted;
    outline-offset: 7px;
    outline-width: 5px;
}

footer {
    padding: 20px 3%;
    font-family: 'Libre Bodoni', serif;
}

footer i {
    color: #c8a67c
}

@keyframes anim {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.anim {
    animation: anim .5s;
    background-image: url("../images/wallpaper.jpg")
}

@media (prefers-reduced-motion) {
  .anim {
    animation: none;
    background-image: url("../images/wallpaper.jpg")
  }
}